
<h1>Sign In</h1>
<%= form_for sessions_path, method: :post, html: { :class => "form-horizontal center" } do |f| %>
  <div class="form-group">
  <%= f.label :username, "Username:", class: "col-xs-4 control-label" %>
  <div class="col-xs-4">
  <%= f.text_field :username, class: "form-control" %>
  </div>
​  </div>
	<div class="form-group">
  <%= f.label :password, "Password (secret):", class: "col-xs-4 control-label" %>
  <div class="col-xs-4">
  <%= f.password_field :password, class: "form-control" %>
​	</div>
	</div>
  <%= f.submit "Sign In", class: "btn btn-success" %>
<% end %>
