<h1>Register for Petsy!</h1>
<% if @user.errors.any? %>
  <div class="errors">
    <h2> Grr... didn't work. :( </h2>
    <ul>
      <% @user.errors.each do |attribute, message| %>
        <li><strong><%= attribute %></strong>: <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
​
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :full_name %>
  <%= f.text_field :full_name %>
​
  <%= f.label :email %>
  <%= f.email_field :email %>
​
  <%= f.label :password %>
  <%= f.password_field :password %>
​
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
​
  <%= f.submit %>
<% end %>
