<header>
<nav>
<%= fields_for @categories do |form| %>
<%= label_tag 'dogs', 'Dogs' %>
  <%= check_box("dogs", 'categories[]', {checked: false}, value = "1") %>
  <br>
  <%= label_tag 'cats', 'Cats' %>
  <%= check_box("cats", 'categories[]', {checked: false}, value = "2") %>
  <br>
  <%= label_tag 'guinea pigs', 'Guinea Pigs' %>
  <%= check_box("guinea pigs", 'categories[]', {checked: false}, value = "3") %>
  <br>
  <%= label_tag 'star wars', 'Star Wars' %>

  <%= check_box( "star wars", 'categories[]', {checked: false}, value = "4") %>

  <%= submit_tag 'Filter items' %>
<% end %>

</nav>
<%= link_to "Sign-up", new_user_path %>
<%= link_to "Log in", new_session_path %>
</header>
<br>
<h2>
Featured Costumes
<br>
<% @product_picker.each do |product| %>
<%= link_to product.name, product_path(product.id) %>
<%= product.price %>
<%= link_to "Add to cart", orders_path %>
<br>
<% end %>
</h2>

<%= link_to "View all costumes", products_path %>