<header>
<nav>



<% @categories.each do |category| %>
		<%= link_to category, product_category_path(category) %>
<% end %>
</nav>
<%= link_to "Sign-up", new_user_path %>
<%= link_to "Log in", users_path %>
</header>
<br>
<h2>
Featured Costumes
<br>
<% @product_picker.each do |product| %>
<%= product.name %>
<%= product.price %>
<%= link_to "Add to cart", orderitem_index_path %>
<br>
<% end %>
</h2>

<%= link_to "View all costumes", products_path %>