<header>
<nav>
<% @categories.each do |category| %>
		<%= link_to category, product_category_path(category) %>
<% end %>

</nav>

<%= "Hi, #{current_user.full_name}!" if current_user %>
<%= link_to "Order Fulfillment", order_fulfillment_path(current_user.id) if current_user %>
<%= link_to "Log out", logout_path if current_user %>
<%= link_to "Sign-up", new_user_path unless current_user %>
<%= link_to "Log in", new_session_path unless current_user %>

</header>
<br>
<h2>
Featured Costumes
<br>
<% @product_picker.each do |product| %>
<%= link_to product.name, product_path(product.id) %>
<%= product.price %>
<%= form_tag '/orderitems' do  %>
<%= hidden_field_tag :product_id, product.id %> <br>
<%= hidden_field_tag :quantity, 1 %>
<%= submit_tag "Add to Cart!!" %>


<!-- <%= link_to "Add to cart", new_orderitem_path %> -->
<br>
<% end %>
</h2>

<%= link_to "View all costumes", products_path %>



<% end %>
