

<nav>
<ul class="nav nav-pills", class="nav-side">
<% @categories.each do |category| %>
		<li><%= link_to category, product_category_path(category) %></li>
<% end %>
</ul>
</nav>

<h2 class="home-header">
Featured Costumes
</h2>
<br>
<% @product_picker.each do |product| %>
<div class="home-page">
	<div class="favoritepic">
		<% unless product.photo_url.nil? %>
			<img src="<%= product.photo_url %>">
		<% end %><br>
	</div>
<%= link_to product.name, product_path(product.id) %>
$<%= number_with_precision product.price, precision: 2 %>
<%= form_tag '/orderitems' do  %>
<%= hidden_field_tag :product_id, product.id %> <br>
<%= hidden_field_tag :quantity, 1 %>
<%= submit_tag "Add to Cart" %><br>
</div>
<% end %>
</h2>

<% end %>
<%= link_to "View all costumes", products_path %>
