
<div class="wholecart">
<h1> Cart: </h1>

<% @cart_price = 0 %>
<div class="cart">
  <!-- <ul> -->
  <% @order.orderitems.each do |orderitem| %>
      <!-- <li> -->
        <div class="orderitem">
        <img src="<%= Product.find(orderitem.product_id).photo_url %>">
        <%= Product.find(orderitem.product_id).name %>
        Price $<%=number_with_precision orderitem.total_price, precision: 2 %>
        <% @cart_price += orderitem.total_price %>
        <%=form_for orderitem do |f| %>
          <%=f.label "Update Quantity" %>
          <%=f.select 'quantity', options_for_select(@quantity_numbers, orderitem.quantity) %><br>
          <%=f.submit %>
          <% end %>
        <% end %>
      </div>
      <!-- </li> -->
  <!-- </ul> -->

  <h2> Total Price of Order: $<%= number_with_precision @cart_price , precision: 2   %></h2>
  <%= button_to "Proceed to checkout", order_checkout_path(current_order.id), method: :get %>
</div>

</div>
