
<div class="wholecart">
  <h1> Petsy Checkout! </h1>
  <% @cart_price = 0 %>
  <div class="cart">
    <% @order.orderitems.each do |orderitem| %>
      <div class="orderitem">
      <%= link_to (image_tag Product.find(orderitem.product_id).photo_url), product_path(orderitem.product_id) %>
      <div class="order-info">
      <strong><%= link_to Product.find(orderitem.product_id).name, product_path(orderitem.product_id) %></strong>
      <br>Total Price $<%=number_with_precision orderitem.total_price, precision: 2 %>
      <% @cart_price += orderitem.total_price %>
      <%= form_for orderitem do |f| %>
      <% @quantity_numbers = (1..orderitem.product.quantity).to_a %>
        <%= f.label "Quantity" %>
        <%= f.select 'quantity', options_for_select(@quantity_numbers, orderitem.quantity) %><br>
        <%= f.submit "Update Quantity", class: "btn btn-info" %>
      <% end %>
      <br>
      <%= button_to "Remove from Cart", orderitem_path(orderitem.id), method: :delete, class: "btn btn-danger" %>
      </div>
  <hr>
  </div>
    <% end %>


  <h2 class="cart">Total Price of Order: $<%= number_with_precision @cart_price , precision: 2 %>
  <p><%= button_to "Proceed to Checkout", order_checkout_path(current_order.id), method: :get, class: "btn btn-primary btn-lg" %></p></h2>
  </div>

</div>
