<h3>Order # <%= params[:order_id] %></h3>

<table class="table table-striped" class="table table-hover">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th>Shipped?</th>
    </tr>
  </thead>

  <tbody>
      <% orderitems = @user_orders_hash[(params[:order_id].to_i)] %>
      <% orderitems.each do |orderitem| %>
      <% product = Product.find(orderitem.product_id) %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.price %></td>
        <td><%= orderitem.quantity %></td>
        <td><%= orderitem.price %></td>
        <% if orderitem.shipped == true %>
           <td>ITEM SHIPPED</td>
          <% else %>
        <td><%= link_to "Ship it!", shipped_path(orderitem.id), method: :patch, class: "btn btn-warning" %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h2>Details of Order # <%= @order.id %><br></h2>
Sold To: <%= @order.name_on_credit_card %><br>
Email Address: <%= @order.email %><br>
Shipping To:<br>
<%= @order.street_address %><br>
<%= @order.city %><br>
<%= @order.state %>, <%= @order.billing_zip %><br>
Credit Card : **** **** **** **** <%= @order.credit_card_number %><br>
Credit Card Exp. Date: <%= @order.credit_card_exp_date.strftime("%m/%Y") %><br>
 Time Order was placed: <%= @order.updated_at %>
</body>
