
<h1>Welcome to your store, <%= @user.full_name %>!</h1>
<br>
<%= link_to 'Add a New Product', new_product_path,  class: "store-links" %>
<%= link_to 'Your Current Products', user_product_path, class: "store-links" %>
<br>
<body>

  <h3>Orders</h3>
  	<%= @user_orders_hash %>


  <h3>Orders Containing Your Products</h3>
  <table class="table table-striped" class="table table-hover">
    <thead>
      <tr>
        <th>Order #</th>
        <th>Status</th>

      </tr>
    </thead>
    <tbody>
        <% @user_orders_hash.each do |key, value| %>
        <% order = Order.find(key) %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

</body>
