<h1> Cart: </h1>

<% @cart_price = 0 %>
<div class="container">
  <ul>
  <% @orders.each do |orderitem| %>
    <div class="product">
        <li>
          <img src="<%= Product.find(orderitem.product_id).photo_url %>">
          <%= Product.find(orderitem.product_id).name %>
          Price $<%=number_with_precision orderitem.total_price, precision: 2 %>
          <% @cart_price += orderitem.total_price %>
          Quantity <%= orderitem.quantity %>
          <%=form_for orderitem do |f| %>
            <%=f.label "Update Quantity" %>
            <%=f.select 'quantity', options_for_select(@quantity_numbers) %><br>

            <%=f.submit %>
            <% end %>
      </li>
    </div>
    <% end %>
  </ul>
  <h2> Total Price of Order: $<%= number_with_precision @cart_price , precision: 2   %></h2>
  <%= button_to "Proceed to checkout", '/order/current_order.id/checkout', action: "edit" method: :get %>
</div>
