<h3> Edit Product </h3>
<%= params %>

<%= form_for @product, method: :patch, url: update_product_path(@product) do |f| %>
	<%= f.label :name %>
  <%= f.text_field :name %>
  <br>
​	<%= f.label :description %>
	<%= f.text_field :description %>
	<br>
  <%= f.label :price %>
  <%= f.number_field :price, step: 0.5 %>
  <br>
  <%= f.label :quantity %>
  <%= f.select(:quantity, options_for_select(1..10, selected: @quantity)) %>
  <br>
  <%= f.label :animal %>
  <%= f.select(:animal, options_for_select(["Cat", "Dog", "Guinea Pig", "Goat"])) %>
  <br>
  <%= f.label :'Photo URL' %>
  <%= f.url_field(:photo_url) %>

  <%= f.hidden_field :user_id, value: @user.id %>
​	<br>
  <%= f.submit class: 'btn btn-success'  %>
<% end %>