<h1>All Costumes</h1>
	<% @products.each do |product| %>
<div class="all-products">
	<div class="favoritepic">
		<% unless product.photo_url.nil? %>
			<img src="<%= product.photo_url %>">
		<% end %><br>
	</div>
	<%= link_to product.name, product_path(product.id) %><br>
	$<%= number_with_precision product.price, precision: 2 %><br>

		<%= form_tag '/orderitems' do  %>
		<% @quantity_numbers = (1..product.quantity).to_a %>
			<%= hidden_field_tag :product_id, product.id %> <br>
			<%= select_tag :quantity, options_for_select(@quantity_numbers) %><br>
		<%= submit_tag "Add to Cart", class: 'btn btn-primary' %><br>
<hr>
		<% end %>
</div>
	<% end %>
