<h1>Add a Costume to Your Store!</h1>

<%= form_for @product, :html => { :class => "form-horizontal center" }  do |f| %>
  <div class="form-group">
	<%= f.label :name, class: "col-xs-4 control-label" %>
  <div class="col-xs-4">
  <%= f.text_field :name, class: "form-control" %>
  </div>
  </div>
  <div class="form-group">
​	<%= f.label :description, class: "col-xs-4 control-label" %>
  <div class="col-xs-4">
	<%= f.text_field :description, class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
  <%= f.label :price, class: "col-xs-4 control-label" %>
  <div class="col-xs-4">
  <%= f.number_field :price, step: 0.5, class: "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <%= f.label :quantity, class: "col-xs-4 control-label" %>
  <div class="col-xs-4">
  <%= f.select(:quantity, options_for_select(1..10), class: "form-control") %>
  </div>
  </div>
  <div class="form-group">
  <%= f.label :animal, class: "col-xs-4 control-label" %>
  <div class="col-xs-4">
  <%= f.select(:animal, options_for_select(@animal), class: "form-control") %>
  </div>
  </div>
  <div class="form-group">
  <%= f.label :category, class: "col-xs-4 control-label" %>
  <div class="col-xs-4">
  <%= f.select(:category, options_for_select(@category), :include_blank => true, class: "form-control") %>
  </div>
  </div>
  <div class="form-group">
  <%= f.label :new_category, class: "col-xs-4 control-label" %>
  <div class="col-xs-4">
  <%= f.text_field :new_category, class: "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <%= f.label :'Photo URL', class: "col-xs-4 control-label"%>
  <div class="col-xs-4">
  <%= f.url_field :photo_url, class: "form-control" %>
  <%= f.hidden_field :user_id, value: @user.id %>
​	</div>
  </div>
  <%= f.submit "Add Costume!", class: 'btn btn-success'  %>
<% end %>
