<h2>Current Products</h2>
<div class="container">
<% @products.each do |product| %>
<div class="product">
	<% if product.quantity == 0 %>
		<h3>You have no products!</h3>
	<% else %>
	<br>
		<% unless product.photo_url.nil? %>
			<img src="<%= product.photo_url %>">
		<% end %><br>
			<%= product.name %>
		<br>
		<%= product.description %>
		$<%= number_with_precision product.price, precision: 2 %>
		<%= form_tag '/orderitems' do  %>
		<%= hidden_field_tag :product_id, product.id %>
		<% end %>
		<%= product.quantity %>
		<% end %>
	</div>
		<% end %>

</div>
