<h2>Current Products</h2>
<% @products.each do |product| %>
<% if product.quantity == 0 %>
	<h3>You have no products!</h3>
<% else %>
<br>
	<%= product.name %>
<br>
<%= product.description %>
$<%= number_with_precision product.price, precision: 2 %>
<%= form_tag '/orderitems' do  %>
<%= hidden_field_tag :product_id, product.id %>
<% end %>
<%= product.quantity %>
<% end %>
<% end %>
