
<pre><%= params %></pre>
<h2>Current Products</h2>
<div class="container">
<div class="product">
<% @products.each do |product| %>
  <img src="<%= product.photo_url %>">

	<% if product.quantity == 0 %>
		<h3>You have no products!</h3>
  <% else %>
	<br>
	<%= product.name %>
  <br>
	<%= product.description %>
	$<%= number_with_precision product.price, precision: 2 %>

	<%= form_tag '/orderitems' do  %>
		<%= hidden_field_tag :product_id, product.id %>
	<% end %>
	<%= product.quantity %>
	<% end %>
	<br>
	<%= link_to "Edit", edit_product_path(@user, product), class: 'btn btn-primary' %>
	<% end %>
</div>
</div>
