<h1>Costumes by <%= params[:full_name] %></h1>
<% @products.each do |product| %>
<div class="all-products">
	<div class="favoritepic">
    <% unless product.photo_url.nil? %>
			<img src="<%= product.photo_url %>">
		<% end %><br>
</div>
	<br>
	<%= product.description %><br>
	$<%= number_with_precision product.price, precision: 2 %>

	<%= form_tag '/orderitems' do  %>
		<%= link_to product.name, product_path(product.id) %>
		<%= hidden_field_tag :product_id, product.id %> <br>
		<%= select_tag :quantity, options_for_select(1..product.quantity) %><br>
    <% if product.quantity == 0 %>
  	<p class=retired-empty>OUT OF STOCK!</p>
  <% else %>
    <p class="order-quantity"><%= product.quantity %> Available!</p>

		<%= submit_tag "Add to Cart", class: 'btn btn-primary' %><br>
	<% end %>
	<% end %>
	<hr>
</div>
	<% end %>
</div>