<h1>Costumes by <%= params[:full_name] %></h1>

<% @products.each do |product| %>
<div class="all-products">
	<div class="favoritepic">
    <% unless product.photo_url.nil? %>
			<img src="<%= product.photo_url %>">
		<% end %><br>
</div>
	<br>
	<%= product.description %>
	$<%= number_with_precision product.price, precision: 2 %>

	<%= form_tag '/orderitems' do  %>
		<%= link_to product.name, product_path(product.id) %>
		<%= hidden_field_tag :product_id, product.id %> <br>
		<%= hidden_field_tag :quantity, 1 %>
		<%= submit_tag "Add to Cart", class: 'btn btn-primary' %><br>
	<% end %>
	<%= product.quantity %>
	<hr>
</div>
	<% end %>
</div>