<div class="product">
  <h1><%= @product.name %></h1>
  <img src="<%= @product.photo_url %>">

  <br>
  <%= @product.description %>
  $<%= number_with_precision @product.price, precision: 2 %>

  <%= form_tag '/orderitems' do  %>
  <%= hidden_field_tag :product_id, @product.id %> <br>
  <%= submit_tag "Add to Cart", class: 'btn btn-primary'  %>
  <% end %>
  <%= @product.quantity %>
</div>
