
<h1><%= @product.name %></h1>

<br>
<%= @product.description %>
$<%= number_with_precision @product.price, precision: 2 %>
<%= form_tag '/orderitems' do  %>
<%= hidden_field_tag :product_id, @product.id %> <br>
<%= hidden_field_tag :quantity, 1 %>
<%= submit_tag "Add to Cart!!" %>
<% end %>
<%= @product.quantity %>
