
<!DOCTYPE html>
<html>
<head>
  <title>Petsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <header>
  <nav class="top-header">
    <%= image_tag "cat logo.png", alt: "sophisticated cat", class: "logo" %>
    <%= link_to (image_tag "petsy logo.png", alt: "petsy logo"), root_path %>
    <%= image_tag "dog logo.png", alt: "cute dog" %>
  <div class="header">
    <ul class="nav nav-pills", class="nav-top">
      <% if current_user %><br>
        <li class="logged-in"><%= "Hi, #{current_user.full_name}!" %></li>
        <li><%= link_to "Log out", logout_path %></li>

        <li><%= link_to "Your Store", show_seller_orders_path(current_user) %></li>
      <% else %>
        <li><%= link_to "Sign-up", new_user_path %></li>
        <li><%= link_to "Log in", new_session_path %></li>
      <% end %>
      <li><%= link_to "", edit_order_path(current_order.id), class: "glyphicon glyphicon-shopping-cart" %></li><span class="order-quantity"><%= current_order.orderitems.count %></span>
    </ul>
  </div>
    </nav>
  </header>
  <hr>
  <div class="flash">
  <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
  </div>
<%= yield %>

<div class="push"></div>
</div>

<footer class="footer">
<%= image_tag("goat_paw.jpg", class: "footer-paws") %> alysia
<%= image_tag("dog_paw.jpg", class: "footer-paws") %> deirdre
<%= image_tag("guinea_paw.jpg", class: "footer-paws") %> jess
</footer>

</body>
</html>
